@font-face {
	font-family: "manana";
	src: url("/fonts/Manana.otf");
}
@font-face {
	font-family: "manana-bold";
	src: url("/fonts/Manana-bold.otf");
}
@font-face {
	font-family: "manana-italic";
	src: url("/fonts/Manana-italic.otf");
}

html {
	background-color: rgb(0, 0, 0);
	min-width: 50%;
	max-width: 90%;
	margin: auto;
	padding: 0.1%;
}
#main {
	/* font-family: futura-pt-condensed, sans-serif; */
	font-family: "manana";
	font-weight: 600;
	font-style: normal;
	font-size: 1.3em;
	color: rgb(255, 255, 255);
}
#position-Data {
	width: 100%;
}

#pos-head {
	min-width: 27px;
}
#carnum-head {
	min-width: 27px;
}
#name-head {
	text-align: left;
	width: 157px;
}

#name-head-tla {
	text-align: left;
	width: 50px;
}

#gap-head {
	min-width: 86px;
	text-align: right;
}
#int-head {
	min-width: 86px;
	text-align: right;
}

#lastlap-head {
	min-width: 84px;
}
#status-head {
	min-width: 80px;
}
#s1-head,
#s2-head,
#s3-head {
	min-width: 45px;
	text-align: right;
	color: #d24ae0;
}
#pit-head {
	text-align: right;
	width: 15px;
}

#name-head {
	text-align: left !important;
}
#gap-head,
#int-head {
	color: #5dfafb;
	text-align: center;
}
#tab-pos {
	color: #5dfafb;
}

#tab-name {
	text-align: left;
}
#tab-gap,
#tab-int {
	color: #f8ff2c;
	text-align: left;
}
#tab-p1-gap {
	color: #f8ff2c;
	text-align: left;
}

#tab-lastlap {
	color: #f8ff2c;
}
#tab-lastlap-fastest {
	color: #d24ae0;
}
#tab-lastlap-pb {
	color: #4cb033;
}
#tab-s1,
#tab-s2,
#tab-s3 {
	color: #f8ff2c;
	text-align: right;
}

#tab-s1-pb,
#tab-s2-pb,
#tab-s3-pb {
	color: #4cb033;
	width: auto;
	text-align: right;
}
#tab-s1-fastest,
#tab-s2-fastest,
#tab-s3-fastest {
	color: #d24ae0;
	text-align: right;
}
#tab-status {
	color: #f8ff2c;
	text-align: right;
}
#tab-pit {
	text-align: right;
	text-align: right;
}

#timing-foot {
	width: 100%;
}

#track-time {
	color: #f8ff2c;
}
#foot-flag {
	min-width: 250px;
	text-align: center;
}
@-moz-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
} /* Firefox */
@-webkit-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
} /* Webkit */
@-ms-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
} /* IE */
@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
} /* Opera */
#race-time {
	color: #f8ff2c;
	float: right;
}

#settings {
	color: #fff;
	visibility: hidden;
}

#settings-icon {
	opacity: 0.5;
}
