@font-face {
	font-family: "manana";
	src: url("fonts/Manana.otf");
}
@font-face {
	font-family: "manana-bold";
	src: url("fonts/Manana-bold.otf");
}
@font-face {
	font-family: "manana-italic";
	src: url("fonts/Manana-italic.otf");
}

body {
	margin: 0;
	background-color: #000000;
	font-family: "manana", sans-serif;
	font-weight: 600;
	font-size: 1.3rem;
}

main {
	width: 100%;
	max-width: 1024px;
	margin: 0.5% auto;
	display: flexbox;
	color: #ffffff;
	justify-content: space-evenly;
}

#timing-table {
	width: 100%;
}

#bottom-bar {
	width: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	text-align: center;
}

#top-pos,
#top-carnum {
	min-width: 27px;
}

#top-name {
	width: 157px;
}

#top-lastlaptime {
	min-width: 84px;
}

#top-gap,
#top-int {
	color: #5dfafb;
	text-align: right;
}
#top-status {
	min-width: 80px;
	text-align: right;
}

#top-sector1,
#top-sector2,
#top-sector3 {
	min-width: 45px;
	text-align: right;
}

#track-time,
#session-time {
	margin: 0 auto;
	color: yellow;
}

#bottom-bar {
	padding: 1%;
	height: 1rem;
}

#top-bestlaptime,
#top-lastlaptime {
	color: #5dfafb;
	text-align: left;
}

#carPos {
	color: #5dfafb;
}

#carPos,
#carNum {
	text-align: right;
}

#sector1,
#sector2,
#sector3 {
	text-align: right;
	color: #f8ff2c;
}

#sector1pb,
#sector2pb,
#sector3pb {
	color: #4cb033;
	text-align: right;
}

#sector1of,
#sector2of,
#sector3of {
	color: #d24ae0;
	text-align: right;
}

#sector1speed,
#sector2speed,
#sector3speed {
	color: #f8ff2c;
}

#sector1speedof,
#sector2speedof,
#sector3speedof {
	color: #d24ae0;
}
#sector1speedpb,
#sector2speedpb,
#sector3speedpb {
	color: #4cb033;
}

#carstatus {
	text-align: end;
	color: #f8ff2c;
}
#carlapcount {
	text-align: right;
}

#flag-bar,
#green-flag,
#yellow-flag,
#red-flag,
#safety-car {
	margin-left: 3%;
	margin-right: 3%;
	width: 100%;
	color: #ffffff;
}

/* Colors */

#white {
	color: #ffffff;
}
#yellow {
	color: #f8ff2c;
}
#purple {
	color: #d24ae0;
}
#green {
	color: #4cb033;
}
#cyan {
	color: #5dfafb;
}

/* Colors for flag bar */

#green-flag {
	background-color: #4cb033;
}

#yellow-flag {
	background-color: #f8ff2c;
}

#red-flag {
	background-color: red;
}

#safety-car {
	background-color: #f8ff2c;
	animation: blink normal 1.2s infinite ease-in-out;
}

/* Browser animation for flag bar */

@-moz-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
} /* Firefox */
@-webkit-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
} /* Webkit */
@-ms-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
} /* IE */
@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
